.app__navbar {
  width: 100%;
  padding: 1rem 2rem;
  background: rgba(51, 16, 48, 0.342);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2;
}
.menubutton{
  width: 130px;
  background-color: #E82E81 ;
  box-shadow: 0px 0px 20px #E82E81 ;
  border-radius: 20px;
}
.nav_menu_div {
  margin-left: 85%;
}

@media screen and (min-width: 901px) {
  .nav_menu_div {
    display: none;
  }
}
.nav_menu_icon {
  border-radius: 15px;
  padding: 15px;
  color: white;
  background-color: #E82E81 ;
  &:hover {
    background-color: #B02261;
  }
}
.contact__nav {
  background-color: #E82E81;
  padding: 10px;
  width: 150px;
  border-radius: 10px;
  a {
    color: --white;
  }
  &:hover {
    background-color: #B02261;
  }
}
.side__nav_bar{
  text-transform: uppercase;
  padding-bottom:5px;
  padding: 5px;
  color: white;
  &:hover{
    font-size: 14px;
    font-weight: bold;
  }
}
.app__navbar-links {
  flex: 1;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  list-style: none;
  li {
    margin: 0 1rem;
    cursor: pointer;

    flex-direction: column;

    a {
      color: --white;
      text-decoration: none;
      flex-direction: column;

      text-transform: uppercase;
      font-weight: 700;

      transition: all 0.3s ease-in-out;
    }
  }

  @media screen and (max-width: 900px) {
    display: none;
  }
}

.linkss {
  a {
    color: var(--white) !important;
    &:hover {
      color: #E82E81  !important;
      scale: 1.1;
    }
  }
}

