.round__container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.button-resume{
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__footer {
  padding: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;

  background: #b0226211;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(4px);
}
.footer__contianer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.head__drop {
  font-size: 35px;
}
.icon__style {
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  background-color: #E82E81 ;
  &:hover {
    background-color: #B02261;
  }
}
.contact_card {
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    text-decoration: none;
    color: var(--white);
  }
}
.contact_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 10%;
  margin-bottom: 20px;
  @media screen and (max-width: 768px) {
    margin-left: 20%;
  }
  h2 {
    color: var(--white);
    font-size: 20px;
    padding-bottom: 5px;
    padding-left: 10px;
  }
  p {
    width: 80%;
    padding-left: 10px;
    color: white;
  }
}
.icons {
  font-size: 1.5rem;
}
.message__container {
  height: 300px;
  width: 80%;
  
  border-radius: 20px;
  background-color: #E82E81 ;
  box-shadow: 0 0 25px #e82e829c;
  padding: 20px;
  margin: 10px;
  div {
    input {
      padding: 10px;
      color: white !important;
      outline: none;
      margin-bottom: 8px;
      border-radius: 8px;
      width: 100%;
      border: none;
      background-color: rgba(0, 0, 0, 0.699);
    }
    textarea{
      padding: 10px;
      color: white !important;
      outline: none;
      margin-bottom: 8px;
      border-radius: 8px;
      width: 100%;
      height: 100px;
      border: none;
      background-color: rgba(0, 0, 0, 0.699);
    }
  }
  @media screen and (max-width: 768px) {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 75%;
  }
  @media screen and (min-width: 768px) {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 60%;
    margin-right: 8%;
  }
  @media screen and (min-width: 800px) and (max-width:1200px){
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
    margin-right: 8%;
  }
  button {
    padding: 10px;
    background-color:#E82E81 ;
    color: white;
    border: 1px solid white ;
    border-radius: 10px;
    &:hover{
      cursor: pointer;
      background-color: #B02261;
    }
  }
}
.message_note{
  margin-right:50px;
  font-size: large;
  padding-right: 50px;
  width: 100%;
  color: var(--white);
}