.app__skills {
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;

  .skills__head {
    font-size: 80px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    color: rgb(255, 255, 255);
    margin-bottom: 50px;
    text-align: center;

    @media screen and (max-width: 768px) {
      font-size: 50px;
      margin-bottom: 30px;
    }

    span {
      color: rgba(255, 255, 255, 0.24);
    }
  }
}

.app__skills-container {
  width: 80%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 900px) {
    width: 100%;
  }
}

.app__skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem; 

  @media screen and (max-width: 900px) {
    gap: 0.5rem; 
  }
}

.app__skills-item {
  flex-direction: column;
  text-align: center;
  margin: 0.5rem; 
  transition: all 0.3s ease-in-out;

  div {
    width:75px;
    height: 75px;
    border-radius: 50%;
    background-color: #fef4f5;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    img {
      width: 50%;
      height: 50%;
      object-fit: contain;
    }

    &:hover {
      box-shadow: 0 0 25px rgba(232, 46, 129, 0.5);
    }

    @media screen and (min-width: 2000px) {
      width: 150px;
      height: 150px;
    }

    @media screen and (max-width: 450px) {
      width: 70px;
      height: 70px;
    }
  }

  p {
    font-weight: 500;
    margin-top: 0.5rem;
    color: white;
  }

  @media screen and (min-width: 2000px) {
    margin: 0.75rem; 

    p {
      margin-top: 0.75rem;
    }
  }
}